{% extends "base_layout.html" %}
{% load mathfilters %}


{% block extrastyle %}
<style>
body, html{
  display: flex;
  flex-direction: column;
  height: 100%;
  flex:1
}

body{
  min-height: 100%;
}

.card-container{
  margin-top: 20px; 
  display: flex; 
  max-height:30%
}

.cards{
    max-width:300px;
    align-self: left;
    background-color: #f2f2f2;
    padding: 20px 10px;
    border-radius: 10px;
    margin-top: 20px;
    margin-right: 20px
}

@media only screen and (max-width: 768px) {
  body, html{
    display: block;
  }

  .card-container{
  margin-top: 20px; 
  display: flex; 
  flex-direction: column;
  max-height:100%
}

.cards{
  margin-right: auto;
}
}

.schedule-graph {
  display: flex;
  height: 50vh;
  /* max-height: 400px; */
  align-items: stretch;
  width: 100%;
  /* align-content: flex-start; */
  justify-content: flex-start;
  overflow: scroll;
  /* max-width: 100%; */
    background-color: aliceblue;
    flex-grow: 1;
    /* margin-top: auto; */
    margin-bottom: 20px;
}

.column-container {
  /* flex: 1; */
  flex: 0 0 50px;
  display: flex;
  flex-direction: column;
  /* align-items: stretch; */
  justify-content: flex-end;
  border-radius: 5px;
  width: 50px;
  border-right: 1px solid white;
  position: relative;
}


{% if to_reschedule %}
.column-container:nth-of-type(n+3):hover > .add-task {
    display: block;
}
{% else %}

  {% for day, data in schedule.items%}
    {% if data.extra_hours %}

    .column-container#day-{{day}}:nth-of-type(n+3):hover > .add-task{
      display: block;
    }

    {% endif %}
  {% endfor %}

{% endif %}

.column-container > .add-task {
    display: none;
}

.column-bar {
    display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2px;
  /* justify-content: center; */
  
}

.day-month-text{
    font-size: 10px;
}
</style>
{% endblock %}


{% block body %}
  </div>
  <div class="card-container container"> 
    <div class="cards container-md" style="overflow: scroll;">
        <h6>Today's Todo List</h6>
        {% if todays_todo %}
        <ol class="list-group list-group-flush">
            {% for taskid, hours in todays_todo.items %}
            {% with taskinfo=tasks|get_item:taskid %}
            <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto" style="display:flex; flex-direction:row; align-items:center; overflow:hidden;">
                <div style="width:15px; height:15px; background-color:{{taskinfo.6}}; flex:0 0 15px;"></div> &nbsp;
                <div class="fw-bold" style="text-overflow: ellipsis; white-space: nowrap; overflow:hidden; flex-shrink:3;">{{taskinfo.5}}</div>
                <!-- {{taskinfo.7}} -->
              </div>
              <span class="badge bg-primary rounded-pill">{{ hours|readable_hrs }}</span>
            </li>
            {% endwith %}
            {% endfor %}
          </ol>
          {%else%}
          <p>You don't have any work to be done today!</p>
          {% endif%}
    </div>

    <div class="cards container-md" style="overflow: scroll;">
        <h6>Upcoming Due Dates</h6>
        {% if dues_comming_up %}
        <ol class="list-group list-group-flush">
            {% for name, days_remain in dues_comming_up.items %}
            <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto" style="overflow:hidden;">
                <div class="fw-bold" style="text-overflow: ellipsis; white-space: nowrap; overflow:hidden; flex-shrink:3;">{{name}}</div>
              </div>
              <span class="badge bg-primary rounded-pill">{{ days_remain }} days</span>
            </li>
            {% endfor %}
          </ol>
          {%else%}
          <p>Due dates in the next 10 days will be found here.</p>
          {% endif%}
    </div>

    <div class="cards container-md" style="overflow: scroll;">
      <h6>Progress</h6>
      {% if progress %}
      <ol class="list-group list-group-flush">
          {% for name, percent_done in progress.items %}
          <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto" style="overflow:hidden;">
              <div class="fw-bold" style="text-overflow: ellipsis; white-space: nowrap; overflow:hidden; flex-shrink:3;">{{name}}</div>
            </div>
            <span class="badge bg-primary rounded-pill">{{ percent_done|mul:100 }}%</span>
          </li>
          {% endfor %}
        </ol>
        {%else%}
        <p>Progress for tasks that are started will be here.</p>
        {% endif%}
    </div>
</div>
    <h6 style="margin-left: 20px; margin-top: 30px;">Your Schedule: </h6>
    <div class="schedule-graph">
        {% for day, data in schedule.items %}
        <div class="column-container" id="day-{{day}}">
            <a role="button" class="btn btn-outline-secondary add-task" 
            style="position:absolute; top: 10%; left: 50%; transform: translate(-50%, 0);"
            data-bs-toggle="modal" data-bs-target="#rescheduler-modal" data-bs-date="{{day}}" data-bs-extrahours="{{data.extra_hours}}">
            {% if data.extra_hours %}
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
              </svg>
            {% else %}
            +
            {% endif %}
                
            </a>
            <div class="column-bar" style="flex-grow: 1;">
                <span class="day-month-text">{{day|to_day}}</span>
            </div>
            <!-- {{ day }}  -->
            {% for task, hours in data.quote.items %}
            {% with taskinfo=tasks|get_item:task %}
            
                <div class="column-bar rounded-1" id="bar" style="flex-basis: {{ hours|div:upper_limit|mul:100 }}%; background:{{ taskinfo.6 }}"
                data-bs-toggle="tooltip" data-bs-placement="top" title="{{ taskinfo.5 }}, {{ hours|readable_hrs }}">
                <!-- <div style="width:100%; height:100%;" data-bs-toggle="modal" data-bs-target="#task{{ task }}-{{day}}"></div> -->
            </div>

            <!-- Modal
<div class="modal fade" id="task{{task}}-{{day}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">{{taskinfo.5}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Hours of work: {{ hours|readable_hrs }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Understood</button>
        </div>
      </div>
    </div>
  </div> -->
                {% endwith %}
                <!-- {{ task }} : {{ hours }} -->
            {% endfor %}
                <div class="column-bar">
                    <span class="day-month-text">
                        {% if data.extra_hours %}
                        <i><u>{{day|to_date}}</u></i>
                        {% else %}
                        {{day|to_date}}
                        {% endif %}
                    </span>
                </div>
        </div>
        {% endfor %}
    </div>
    <!-- <input class="form-check-input" type="checkbox" value="" id="defaultCheck1"> Toggle Days -->

     <!-- Modal -->

    
    

<!-- </body> -->
{% endblock %}

{% block extrascript %}
    <script>
        for (n of document.getElementsByClassName('column-bar')){
            var tooltip = new bootstrap.Tooltip(n, {boundary: document.body})
        }
        
        if ('{{ last_day }}' != '0')
        var latestDate = new Date('{{ last_day }}')
        else{
            var latestDate = new Date()
            latestDate.setDate(latestDate.getDate() -2)
            latestDate.toDateString()
        }
        const days_week = ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']

        const columnContainerCount = (elem) => {
            var win = $(elem);
            var width = win.width()

            var no_of_col_req = Math.floor(width/50)
            var no_of_col = $('.column-container').length

            // alert(no_of_col_req + " " +  no_of_col)

            if (no_of_col_req - no_of_col > 0 )
            for (n of Array(no_of_col_req - no_of_col).keys()){
                latestDate.setDate(latestDate.getDate()+1)
                $('.schedule-graph').append("<div class=\"column-container\"> <div class=\"column-bar\" style=\"flex-grow: 1;\"><span class=\"day-month-text\">"+days_week[latestDate.getDay()]+"</span></div> <div class=\"column-bar\"><span class=\"day-month-text\">"+('0' + latestDate.getDate()).slice(-2)+'/'+('0' + (latestDate.getMonth()+1) ).slice(-2)+"</span></div></div>")
        }
        }
        
        $(document).ready(function () {
            // random defualt color for the selector palatte
            // PALLATE = ['#004d65', '#ff4013', '#5e30eb', '#cc0000']
            columnContainerCount(this)
            $('.form-control-color').val("#" + Math.floor(Math.random()*16777215).toString(16));
            $('.form-control-color').trigger('change');

            // minimum input date of tomorrow
            $("#datepicker").datepicker({
                minDate: 2,
                maxDate: '+3M'
            });

            $('.schedule-graph').children().eq(1).css('background-color','#C3E6FE');

            
            // // graphMarginTop = parseFloat($('.schedule-graph').css("margin-top"))
            // footerHeight = $('.footer').outerHeight()
            // $('.footer').css("margin-bottom", -footerHeight)

            $(window).on('resize', function(){
              columnContainerCount(this);
    
                // alert(footerHeight)
                // console.log(graphMarginTop + footerHeight)
    
            });
        });


        var exampleModal = document.getElementById('rescheduler-modal')
        exampleModal.addEventListener('show.bs.modal', function (event) {
        // Button that triggered the modal
        var button = event.relatedTarget
        // Extract info from data-bs-* attributes
        var date = button.getAttribute('data-bs-date')
        var extra_hours = button.getAttribute('data-bs-extrahours')
        // If necessary, you could initiate an AJAX request here
        // and then do the updating in a callback.
        //
        // Update the modal's content.
        var modalTitle = exampleModal.querySelector('.modal-title')
        var dateInput = exampleModal.querySelector('.modal-body #id_date')
        var extraHoursInput = exampleModal.querySelector('.modal-body #id_extra_hours')

        modalTitle.textContent = 'Extra hours for ' + date
        dateInput.value = date
        extraHoursInput.value = parseFloat(extra_hours)
        })
    
    </script>
{% endblock %}

{% block create_modal %}


<div class="modal fade" id="rescheduler-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Add Extra Hours for </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="{% url 'scheduler:rescheduler' %}" method="post">
        <div class="modal-body">
                {% csrf_token %}
                <!-- <input type="hidden" name="date" value="" id="date"> -->
                {{reschedule_form}}

        </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}