{% extends "base_layout.html" %}

{% block content %}
{% load mathfilters %}

<style>
.schedule-graph {
  display: flex;
  height: 50vh;
  max-height: 400px;
  align-items: stretch;
  width: 100%;
  /* align-content: flex-start; */
  justify-content: flex-start;
  overflow: scroll;
  /* max-width: 100%; */
    background-color: #f5f5f5;
}

.column-container {
  /* flex: 1; */
  flex: 0 0 50px;
  display: flex;
  flex-direction: column;
  /* align-items: stretch; */
  justify-content: flex-end;
  border-radius: 5px;
  width: 50px;
}

.column-bar {
    display: flex;
  border-right: 1px solid white;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  
}

.day-month-text{
    font-size: 10px;
}

</style>


<body>
    <h5>Hello {{ userinfo.user }}</h5>

    <div class="schedule-graph">
        {% for day, data in schedule.items %}
        <div class="column-container">
            <div class="column-bar" style="flex-grow: 1;">
                <span class="day-month-text">{{day|to_day}}</span>
            </div>
            <!-- {{ day }}  -->
            {% for task, hours in data.quote.items %}
                {% with taskinfo=tasks|get_item:task %}
                <div class="column-bar rounded-1" id="bar" style="flex-basis: {{ hours|div:userinfo.max_week_end_work|mul:100 }}%; background:{{ taskinfo.6 }}"
                data-bs-toggle="tooltip" data-bs-placement="top" title="{{ taskinfo.5 }}, {{ hours|readable_hrs }}"></div>
                {% endwith %}
                <!-- {{ task }} : {{ hours }} -->
            {% endfor %}
                <div class="column-bar">
                    <span class="day-month-text">{{day|to_date}}</span>
                </div>
        </div>
        {% endfor %}
    </div>
    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1"> Toggle Days



<script>
    for (n of document.getElementsByClassName('column-bar')){
    //     var colors = ['#ff0000', '#00ff00', '#0000ff'];
    // var random_color = colors[Math.floor(Math.random() * colors.length)];
    // n.style.background = random_color;
    // var exampleEl = document.getElementsByClassName('column-bar')
    var tooltip = new bootstrap.Tooltip(n, {boundary: document.body})
}
</script>

</body>


{% endblock %}