{% extends "base_layout.html" %}
{% load mathfilters %}


{% block extrastyle %}
<style>
.schedule-graph {
  display: flex;
  height: 50vh;
  max-height: 400px;
  align-items: stretch;
  width: 100%;
  /* align-content: flex-start; */
  justify-content: flex-start;
  overflow: scroll;
  /* max-width: 100%; */
    background-color: #f5f5f5;
}

.column-container {
  /* flex: 1; */
  flex: 0 0 50px;
  display: flex;
  flex-direction: column;
  /* align-items: stretch; */
  justify-content: flex-end;
  border-radius: 5px;
  width: 50px;
}

.column-bar {
    display: flex;
  border-right: 1px solid white;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  
}

.day-month-text{
    font-size: 10px;
}


</style>
{% endblock %}


{% block body %}
<!-- <body> -->
    <h5>Hello {{ userinfo.user }}</h5>

    <div class="schedule-graph">
        {% for day, data in schedule.items %}
        <div class="column-container">
            <div class="column-bar" style="flex-grow: 1;">
                <span class="day-month-text">{{day|to_day}}</span>
            </div>
            <!-- {{ day }}  -->
            {% for task, hours in data.quote.items %}
                {% with taskinfo=tasks|get_item:task %}
                <div class="column-bar rounded-1" id="bar" style="flex-basis: {{ hours|div:userinfo.max_week_end_work|mul:100 }}%; background:{{ taskinfo.6 }}"
                data-bs-toggle="tooltip" data-bs-placement="top" title="{{ taskinfo.5 }}, {{ hours|readable_hrs }}"></div>
                {% endwith %}
                <!-- {{ task }} : {{ hours }} -->
            {% endfor %}
                <div class="column-bar">
                    <span class="day-month-text">{{day|to_date}}</span>
                </div>
        </div>
        {% endfor %}
    </div>
    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1"> Toggle Days

    

<!-- </body> -->
{% endblock %}

{% block extrascript %}
    <script>
        for (n of document.getElementsByClassName('column-bar')){
            //     var colors = ['#ff0000', '#00ff00', '#0000ff'];
            // var random_color = colors[Math.floor(Math.random() * colors.length)];
            // n.style.background = random_color;
            // var exampleEl = document.getElementsByClassName('column-bar')
            var tooltip = new bootstrap.Tooltip(n, {boundary: document.body})
        }

        PALLATE = ['#004d65', '#ff4013', '#5e30eb', '#cc0000']

        $('.form-control-color').val(PALLATE[Math.floor(Math.random() * (PALLATE.length))]);
        $('.form-control-color').trigger('change');

        </script>
{% endblock %}

{% block create_modal %}
    <!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="staticBackdropLabel">Create New Task</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <form action="{% url 'scheduler:create' %}" method="post">
    <div class="modal-body">
            {% csrf_token %}
            {{ formset.management_form }}
            {% for form in formset %}
            {% for field in form %}
            <div class="mb-3">
                {{ field.errors }}
                <label class="form-label" for="" >{{field.label_tag}}</label>
                 {{ field }}
            </div>
            {% endfor %}
            {% endfor %}


            <!-- <input type="submit" value="Login"> -->
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Understood</button>
        </div>
    </form>
  </div>
</div>
</div>
{% endblock %}