{% extends 'base_layout.html' %}


{% block body %}
<div class="container" style="margin-top:10px">

    <div class="alert alert-primary" role="alert">
        <p>You have {{formset|length}} tasks set.
        Here are the tasks in the ascending order of their due dates. Changes have to be saved by clicking the 'Save' button</p>
        <span><i>Pro Tip: </i> To delete a task, reduce the hours needed down to 0</span>
      </div>

<form action="{% url 'scheduler:edit' %}" method="post">
    <div class="accordion accordion-flush" id="accordionFlushExample">
    {% csrf_token %}
            {{ formset.management_form }}
            {% for form in formset %}
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#form{{ forloop.counter }}" aria-expanded="false" aria-controls="flush-collapseOne">
                        <span class="badge bg-secondary">{{ form.due_date.value }}</span> &nbsp; {{ form.task_name.value }} 
                    </button>
                  </h2>
                  <div id="form{{ forloop.counter }}" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <div class="collapse" id="form{{ forloop.counter }}">
                        {% for field in form %}
                        <div class="mb-3">
                            {{ field.errors }}
                            <label class="form-label" for="" >{{field.label_tag}}</label>
                             {{ field }}
                        </div>
                        {% endfor %}
                        </div>
                    </div>
                  </div>
            </div>
                
            {% endfor %}
        </div>
        <button type="submit" class="btn btn-primary" style="margin: 20px;">Save</button>
</form>
</div>
{% endblock %}